In [1]:
import os
import pandas as pd

In [ ]:
df = pd.read_csv("HistoricalData.csv")
df

,Firm #,E/A,ROA,D/A,OPM,ATR,Size,QR,CR,Default=1,Unnamed: 10,Unnamed: 11
4995,4996,0.56,0.91,0.44,0.39,2.31,1161.53,1.34,3.23,0,NaN,NaN
4996,4997,0.48,0.88,0.52,0.38,2.33,1124.77,2.32,2.20,0,NaN,NaN
4997,4998,0.59,0.90,0.41,0.48,1.86,1165.53,2.18,2.73,0,NaN,NaN
4998,4999,0.63,0.83,0.37,0.39,2.13,1083.18,2.15,2.58,0,NaN,NaN
4999,5000,0.46,0.69,0.54,0.34,2.06,1106.95,1.65,2.58,0,NaN,NaN